#{extends 'main.html' /}
#{set title:'XXX: title' /}

#{head /}

#{ifErrors}
	input error
	<br />
#{/ifErrors}

#{form @usr.add_usr_post(uname, pass, fname, lname)}
	<label for="name">username: </label>
	<input type="text" name="uname" id="uname" value="${uname}" />
	<br />

	<label for="beg">password: </label>
	<input type="text" name="pass" id="pass" value="${pass}" />
	<br />

	<label for="end">first name: </label>
	<input type="text" name="fname" id="fname" value="${fname}" />
	<br />

	<label for="end">last name: </label>
	<input type="text" name="lname" id="lname" value="${lname}" />
	<br />

	<input type="submit" value="add user" />
#{/form}

#{tail /}
