#{extends 'main.html' /}
#{set title:'XXX: title' /}

#{head /}

#{ifErrors}
	input error
	<br />
#{/ifErrors}

#{form @ESECtlCalendar.addEventPost(user, cal, eid)}
	<label for="name">name: </label>
	<input type="text" name="ename" id="ename" value="${ename}" />
	<br />

	<label for="beg">beg: </label>
	<input type="text" name="ebeg" id="ebeg" value="${ebeg}" />
	${err_date ?'invalid date' :''}<br />

	<label for="end">end: </label>
	<input type="text" name="eend" id="eend" value="${eend}" />
	${err_date ?'invalid date' :''}<br />

	<label for="pub">pub: </label>
	<input type="checkbox" name="epub" id="epub"
		"${epub=='true' ?'checked' :''}" />
	<br />

	<input type="submit" value="submit event" />
#{/form}

#{tail /}
