#{extends 'main.html' /}
#{set title:'XXX: title' /}

#{head /}

<a href="/${
	msg.selUser.getName()}/${
	msg.curCalendar.getName()}/${
	msg.selDate.minusMonths(1).getYear()}/${
	msg.selDate.minusMonths(1).getMonthOfYear()}/1">prev</a> |
<a href="/${
	msg.selUser.getName()}/${
	msg.curCalendar.getName()}">${
	msg.selDate.monthOfYear().getAsText()}, ${
	msg.selDate.getYear()}</a> |
<a href="/${
	msg.selUser.getName()}/${
	msg.curCalendar.getName()}/${
	msg.selDate.plusMonths(1).getYear()}/${
	msg.selDate.plusMonths(1).getMonthOfYear()}/1">next</a>
<br />
<br />

<div class="month">
<div class="day_head">Mo</div>
<div class="day_head">Tu</div>
<div class="day_head">We</div>
<div class="day_head">Th</div>
<div class="day_head">Fr</div>
<div class="day_head">Sa</div>
<div class="day_head">Su</div>
%{
	for (i in 0..msg.selDateDow()-2) {
}%
<div class="day"></div>
%{
	}
	for (i in 0..msg.selDateDays()-1) {
}%
<div class="${
	msg.cssCalData[i]}"><a href="/${
	msg.selUser.getName()}/${
	msg.curCalendar.getName()}/${
	msg.selDate.getYear()}/${
	msg.selDate.getMonthOfYear()}/${i+1}">${i+1}</a>
</div>
%{
	}
}%
</div>
<br />

#{list msg.events}
	${_.getId()} |
	${_.getName()} |
	${_.getBeg().toString(msg.fmt)} |
	${_.getEnd().toString(msg.fmt)} |
	${_.isPublic().toString()} |
	%{msg.PUT("uri_eventid", _.getId().toString())}%
	#{a @CtlCalendar.modEvent(msg.BLOB())}edit#{/a} |
	#{a @CtlCalendar.delEvent(msg.BLOB())}delete#{/a}
	<br />
#{/list}
#{else}
	empty
	<br />
#{/else}
<br />

#{a @CtlCalendar.addEvent(msg.BLOB())}add event#{/a} |
#{tail /}
