/* main.css */

div.month {
	width: 360px;
	min-height: 280px;
	border: solid 1px black;
}

div.day, div.thead {
	float: left;
	width: 30px;
	padding: 10px;
}

div.thead {
	font-weight: bold;
}

div.selected {
	background-color: lightblue;
}

div.today {
	background-color: yellow;
}
