#{extends 'main.html' /}
#{set title:'XXX: title' /}

#{head /}

%{
	if (emonth.m == 1) {
		mp = 12;
		yp = emonth.y-1;
		mn = emonth.m+1;
		yn = emonth.y;
	}
	else if (emonth.m == 12) {
		mp = emonth.m-1;
		yp = emonth.y;
		mn = 1;
		yn = emonth.y+1;
	}
	else {
		mp = emonth.m-1;
		yp = emonth.y;
		mn = emonth.m+1;
		yn = emonth.y;
	}
}%

<a href="/cal/${id}/${yp}/${mp}/1">prev</a> |
<a href="/cal/${id}">${emonth.mname}, ${emonth.y}</a> |
<a href="/cal/${id}/${yn}/${mn}/1">next</a>
<br />
<br />
<div class="month">
%{
	for (i in 0..6) {
}%
<div class="${emonth.thead[i].get_cssc()}">
	${emonth.thead[i].get_head().substring(0,2)}
</div>
%{
	}
	for (i in 0..emonth.days-1) {
}%
<div class="${emonth.edays[i].get_cssc()}">
	<a href="/cal/${id}/${emonth.y}/${emonth.m}/${i}">${i+1}</a>
</div>
%{
	}
}%
</div>
<br />

#{list le}
	${_.getId()} |
	${_.getName()} |
	${_.getStartDate().toString()} |
	${_.getEndDate().toString()} |
	${_.isPublic().toString()} |
	#{a @cal.rm_evt(id, _.getId())}delete#{/a}
	<br />
#{/list}
#{else}
	empty
	<br />
#{/else}
<br />

<a href="/cal/${id}/add">add event</a> |
#{tail /}
