#{extends 'main.html' /}
#{set title:'XXX: title' /}

#{head /}

#{ifErrors}
	input error
	<br />
#{/ifErrors}

#{form @CtlUser.addUserPost()}
	<label for="name">username: </label>
	<input type="text" name="uname" id="uname" value="${uname}" />
	<br />

	<label for="beg">password: </label>
	<input type="text" name="upass" id="upass" value="${upass}" />
	<br />

	<label for="end">first name: </label>
	<input type="text" name="ufname" id="ufname" value="${ufname}" />
	<br />

	<label for="end">last name: </label>
	<input type="text" name="ulname" id="ulname" value="${ulname}" />
	<br />

	<input type="submit" value="add user" />
#{/form}

#{tail /}
