#{extends 'main.html' /}

#{if msg.curCaller == 'master'}
	#{set title: 'Jalendar - '
		+ msg.selDate.toString(msg.fmt_short) /}
#{/if}
#{if msg.curCaller == 'register'}
	#{set title: 'Jalendar - Register' /}
#{/if}

<div id="header">
	<div id="menu">
		#{include 'tags/header_menu.html' /}
	</div>
	<div id="logo">
		Jalendar<span id="logo-sub">β</span>
	</div>
</div>

<!-- ${msg.printParams()} -->

#{if msg.curCaller == 'register'}
	<div id="register">
		<div id="form-register">
			#{include 'tags/form_register.html' /}
		</div>
	</div>
#{/if}

#{if msg.curCaller == 'master'}
	<div id="right">
	#{if !msg.GET("uri_readonly")}
		#{if msg.hasFlag("usermod")}
			<div id="form-profile">
				#{include 'tags/form_profile.html' /}
			</div>
		#{/if}
		<div id="form-event">
			#{include 'tags/form_event.html' /}
		</div>
	#{/if}
	</div>

	<div id="left">
		<div id="finduser">
			#{include 'tags/list_users.html' /}
			<div id="form-finduser">
				#{include 'tags/form_finduser.html' /}
			</div>
		</div>
		<div id="calendars">
			#{include 'tags/list_calendars.html' /}
			#{if !msg.GET("uri_readonly")}
				#{include 'tags/form_calendar.html' /}
			#{/if}
		</div>
	</div>

	<div id="calendar">
		<div id="calendar-nav">
			#{include 'tags/calendar_nav.html' /}
		</div>
		<div class="calendar-month">
			#{include 'tags/calendar_month.html' /}
		</div>
	</div>

	<div id="list-events">
		#{include 'tags/list_events.html' /}
	</div>
#{/if}
