#{extends 'main.html' /}

%{
	titlePrefix = 'Jalendar - '
	titleRegister = titlePrefix + 'Register'
	titleMaster = titlePrefix + msg.selDate.toString(msg.fmt_short)
}%

#{if msg.curCaller == 'master' }
	#{set title: titleMaster /}
#{/if}
#{if msg.curCaller == 'register' }
	#{set title: titleRegister /}
#{/if}

<div id="header">
	<div id="menu">
		#{if msg.curCaller == 'master' }
			#{include 'header_menu.html' /}
		#{/if}
		#{if msg.curCaller != 'register' }
			#{a @Secure.logout()}logout#{/a}
		#{/if}
	</div>
	<div id="logo">
		Jalendar<span id="logo-sub">β</span>
	</div>
</div>

<!-- ${msg.printParams()} -->

#{if msg.curCaller == 'register' }
	<div id="register">
		<div id="form-register">
			#{include 'form_register.html' /}
		</div>
	</div>
#{/if}

#{if msg.curCaller == 'master' }
	<div id="right">
	#{if !msg.GET("uri_readonly") }
		#{if msg.isForm("useredit") }
			<div id="form-profile">
				#{include 'form_profile.html' /}
			</div>
		#{/if}
		<div id="form-event">
			#{include 'form_event.html' /}
		</div>
	#{/if}
	</div>

	<div id="left">
		<div id="finduser">
			#{include 'list_users.html' /}
			<div id="form-finduser">
				#{include 'form_finduser.html' /}
			</div>
		</div>
		<div id="calendars">
			#{include 'list_calendar.html' /}
			#{if !msg.GET("uri_readonly") }
				#{include 'form_calendar.html' /}
			#{/if}
		</div>
	</div>

	<div id="calendar">
		<div id="calendar-nav">
			#{include 'calendar-nav.html' /}
		</div>
		<div class="calendar-month">
			#{include 'calendar-month.html' /}
		</div>
	</div>

	<div id="list-events">
		#{include 'list-events.html' /}
	</div>
#{/if}
