#{extends 'main.html' /}
#{set title:msg.curCaller /}

logged in as ${session.username} - ${msg.curCaller}
<br />

<pre>${msg.printParams()}</pre>

#{if msg.curCaller == 'listCalendars' }
	#{list msg.calendars}
		${_.getId()}
		${_.getOwner().getName()}'s
		<a href="/${
			msg.selUser.getName()}/${
			_.getName()}">${
			_.getName()}
		</a>
		<br />
	#{/list}
	#{else}
		empty
	#{/else}
#{/if}

#{if msg.curCaller == 'listEvents' }
	<a href="/${
		msg.selUser.getName()}/${
		msg.curCalendar.getName()}/${
		msg.selDate.minusMonths(1).getYear()}/${
		msg.selDate.minusMonths(1).getMonthOfYear()}/1">prev</a> |
	<a href="/${
		msg.selUser.getName()}/${
		msg.curCalendar.getName()}">${
		msg.selDate.monthOfYear().getAsText()}, ${
		msg.selDate.getYear()}</a> |
	<a href="/${
		msg.selUser.getName()}/${
		msg.curCalendar.getName()}/${
		msg.selDate.plusMonths(1).getYear()}/${
		msg.selDate.plusMonths(1).getMonthOfYear()}/1">next</a>
	<br />
	<br />

	<div class="month">

	<div class="day_head">Mo</div>
	<div class="day_head">Tu</div>
	<div class="day_head">We</div>
	<div class="day_head">Th</div>
	<div class="day_head">Fr</div>
	<div class="day_head">Sa</div>
	<div class="day_head">Su</div>

	#{list 0..msg.selDateDow()-2}
		<div class="day"></div>
	#{/list}

	#{list 0..msg.selDateDays()-1}
		<div class="${
			msg.cssCalData[_]}"><a href="/${
			msg.selUser.getName()}/${
			msg.curCalendar.getName()}/${
			msg.selDate.getYear()}/${
			msg.selDate.getMonthOfYear()}/${_+1}">${_+1}</a>
		</div>
	#{/list}

	</div>
	<br />

	#{list msg.events}
		${_.getId()} |
		${_.getName()} |
		${_.getBeg().toString(msg.fmt)} |
		${_.getEnd().toString(msg.fmt)} |
		${_.isPublic().toString()} |
		#{if !msg.GET("uri_cal_readonly") }
			%{msg.PUSH("uri_eventid")}%
			%{msg.PUT("uri_eventid", _.getId().toString())}%
			#{a @CtlCalendar.modEvent(msg.BLOB())}edit#{/a} |
			#{a @CtlCalendar.delEvent(msg.BLOB())}delete#{/a}
			%{msg.POP()}%
		#{/if}
		<br />
	#{/list}
	#{else}
		empty
		<br />
	#{/else}
	<br />

	#{form @CtlCalendar.addEventPost(msg.BLOB())}
		<label for="uri_eventname">name: </label>
		<input type="text" name="uri_eventname"
			value="${msg.GET("uri_eventname")}" />
			${msg.GET("uri_err_eventname") ?'error' :''}
		<br />

		<label for="uri_datebeg">beg: </label>
		<input type="text" name="uri_datebeg"
			value="${msg.GET("uri_datebeg")}" />
			${msg.GET("uri_err_date") ?'error' :''}
		<br />

		<label for="uri_dateend">end: </label>
		<input type="text" name="uri_dateend"
			value="${msg.GET("uri_dateend")}" />
			${msg.GET("uri_err_date") ?'error' :''}
		<br />

		<label for="uri_eventpub">pub: </label>
		<input type="checkbox" name="uri_eventpub"
			value="${msg.GET("uri_eventpub") ?'checked' :''}" />
		<br />

		<input type="submit" value="submit event" />
	#{/form}
#{/if}

#{a @CtlUser.listCalendars()}home#{/a} |
#{a @Secure.logout()}logout#{/a}

<pre>${msg.printParams()}</pre>








*{

#{if msg.curCaller ==~ /(list|add|mod)Users?/ }
	#{list msg.users}
	${_.getId()}
	<a href="/${
		_.getName()}">${
		_.getName()}</a> |
	%{msg.PUT("uri_userid", _.getId().toString())}%
	#{a @CtlUser.modUser(msg.BLOB())}edit#{/a}
	<br />
	#{/list}
	#{else}
	empty
	#{/else}

	#{form @CtlUser.addUserPost(msg.BLOB())}
	<label for="uri_username">username: </label>
	<input type="text" name="uri_username"
		value="${msg.GET("uri_username")}" />
		${msg.GET("uri_err_username")=='true'
			?'error: no username provided' :''}
		${msg.GET("uri_err_username_exists")=='true'
			?'error: username exists' :''}
	<br />

	<label for="uri_password">password: </label>
	<input type="text" name="uri_password"
		value="${msg.GET("uri_password")}" />
		${msg.GET("uri_err_password")=='true' ?'error' :''}
	<br />

	<label for="uri_firstname">firstname: </label>
	<input type="text" name="uri_firstname"
		value="${msg.GET("uri_firstname")}" />
		${msg.GET("uri_err_firstname")=='true' ?'error' :''}
	<br />

	<label for="uri_lastname">lastname: </label>
	<input type="text" name="uri_lastname"
		value="${msg.GET("uri_lastname")}" />
		${msg.GET("uri_err_lastname")=='true' ?'error' :''}
	<br />

	<label for="uri_birthday">birthday: </label>
	<input type="text" name="uri_birthday"
		value="${msg.GET("uri_birthday")}" />
		${msg.GET("uri_err_birthday")=='true' ?'error' :''}
	<br />

	<input type="submit" value="add user" />
	#{/form}
#{/if}

#{a @CtlUser.listUsers()}users#{/a} |
#{a @CtlUser.addUser()}add user#{/a} |

}*
